/* -----------------------------FirstSection-Home----------------------------- */

#FirstSection-Home {
  display: flex;
  justify-content: space-between;
  padding-top: 10rem;
  /* padding-bottom: 1rem; */
  /* margin-top: 10rem; */
  align-items: center;
}

/* This ">" symbol gives the ability of applying css to only first div of this class(firstsection) */
/* #FirstSection-Home > div { */

.firstsection-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  font-size: 30px;
  margin-left: 200px;
}

.intro-text .Greet {
  font-size: 15px;
}

.intro-text .cyan {
  color: rgb(0, 171, 171);
}

/* Abhishek,webdev,programmer,extc in different color */
#element {
  color: rgb(0, 171, 171);
}

/* resume button */
.btn {
  display: block;
  margin-top: 25px;
  width: fit-content;
  border: 1px solid rgb(0, 171, 171);
  padding: 10px 35px;
  border-radius: 6px;
  font-size: 20px;
  text-decoration: none;
  color: #fff;
  background: none;
  transition: background 0.5s;
  cursor: pointer;
}

.btn:hover {
  background: rgb(0, 171, 171);
  color: black;
}

.firstsection-right img {
  width: 22rem;
  margin-right: 185px;
  margin-top: 5rem;
  margin-bottom: 8rem;
  /* padding: 5rem; */
}

main hr {
  border: 1.5px solid rgb(0, 171, 171);
  border-radius: 20%;
  /* background:rgb(0, 171, 171); */
  /* height: 3px; */
  margin: 0px 50px;
}
